node_modules
.DS_Store
.DS_Store
.claude
.git
.vite
dist
node_modules/*.*
dist
build
*.log
*.tmp
*.bak
.DS_Store
.vscode
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swo
*.swn
*.sln.docstates
*.pidb
*.seed
*.pidb.meta
*.pdb
*.opendb
.vercel
